* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    font-family: sans-serif;
    font-size: 20px;
    font-family: "Bree Serif", serif;
}

body {
    height: 100vh;
    background-color: #4158d0;
    background-image: linear-gradient(
        43deg,
        #4158d0 0%,
        #c850c0 46%,
        #ffcc70 100%
    );
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative;
}

.game-options-container {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 70%;
}

.play-again-button,
.roll-dice-button,
.hold-button {
    padding: 8px 15px;
    margin-bottom: 15px;
    border-radius: 15px;
    text-align: center;
    cursor: pointer;
    background-color: rgba(214, 214, 214, 0.699);
    transition: background-color 0.5s;
    color: #222;
    box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
}

.play-again-button:hover,
.roll-dice-button:hover,
.hold-button:hover {
    background-color: rgb(241, 241, 241);
}

.dice-image-container {
    flex-basis: 100;
}
.dice-image-container > img {
    width: 90px;
    border-radius: 5px;
}

.dice-image {
    opacity: 0;
    transition: 0.3s;
}

.dice-image.active {
    opacity: 1;
}

.player {
    background-color: rgba(240, 248, 255, 0.158);
    width: 500px;
    height: 500px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    transition: background-color 0.3s;
}

.player-name {
    font-size: 45px;
    color: rgb(240, 240, 240);
}

.player-score {
    font-size: 50px;
    color: #e94da3;
}

.player-current-score-container {
    background-color: #bc47ffd2;
    padding: 10px 60px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.current-word {
    margin-bottom: 10px;
}

.current-word,
.player-current-score {
    color: rgb(245, 245, 245);
    font-size: 25px;
}

.player-one-container {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.player-two-container {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

/* Active Part */
.player-one-container.turn {
    background-color: rgba(255, 255, 255, 0.336);
}

.player-two-container.turn {
    background-color: rgba(255, 255, 255, 0.336);
}

.game-info-container {
    position: fixed;
    display: flex;
    flex-direction: column;
    z-index: 100;
    width: 500px;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    background-color: rgb(255, 231, 231);
    padding: 20px;
    border-radius: 15px;
    color: rgb(141, 71, 158);

    opacity: 0;
    transition: opacity 0.5s;
    pointer-events: none;
}

.game-info-container.active,
.overlay.active {
    opacity: 1;
    pointer-events: all;
}

.modal-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 15px;
}

.game-title {
    color: #c548f7;
}

.game-explanation-1,
.game-explanation-2,
.game-name,
.current-score-position,
.hold-game-info,
.who-win {
    font-size: 15px;
}

.game-explanation-1,
.game-explanation-2 {
    margin-bottom: 10px;
}

.overlay {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: #22222252;
    backdrop-filter: blur(2px);
    opacity: 0;
    pointer-events: none;
}

.close-the-modal {
    color: rgb(255, 56, 56);
    font-weight: 700;
    cursor: pointer;
}

.show-game-info {
    position: absolute;
    padding: 10px;
    margin: 10px;
    background-color: white;
    border-radius: 100%;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.068);
    cursor: pointer;
    transition: background-color 0.5s;
    width: 40px;
    height: 40px;
    z-index: 99;
}

.show-game-info:hover {
    background-color: rgb(251, 144, 255);
}

.win-modal {
    display: flex;
    flex-direction: column;
    position: fixed;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    background-color: white;
    z-index: 100;
    padding: 15px 50px;
    border-radius: 15px;
    align-items: center;
    justify-content: center;
    opacity: 0;
    pointer-events: none;
}

.win-modal.active {
    opacity: 1;
    pointer-events: all;
}

.win-message {
    margin-bottom: 15px;
}

.win-modal > .play-again-button {
    width: 70%;
}
